body {
        background: linear-gradient(90deg,rgba(255, 23, 23, 0.95) 10%, rgba(87, 199, 197, 0.95) 58%, rgba(83, 237, 98, 0.95) 94%);;
        color: black;
      }
      .center {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      #clock {
        font-size: 40px;
        background-color: rgba(14, 14, 123, 0.511);
        padding: 20px 50px;
        margin-top: 10px;
        border-radius: 10px;
      }